<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ERKEL ERP</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testerkel.styles.css" asp-append-version="true" />

</head>
<body class="bg-light">
    <main id="grad" class="min-vh-100 d-flex align-items-center">
        <style>
            #grad {
                background: linear-gradient(to right, cornflowerblue, steelblue);
                background-color: wheat;
            }
        </style>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer id="grad" class="border-top footer text-white-50 footer-content mb-2">
        <div class="container">
            &copy; 2025 - ERKEL ERP
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/custom/sweetalert2.all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
