@model testerkel.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Giriş Sayfası";
    Layout = "_LayoutAuth";
}

<style>
    #loginCard {
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #151b25;
        width: contain;
    }
</style>

<div id="login">
    <div class="justify-content-center text-center">
        <h3 class="text-center text-white pt-5">ERKEL ERP GİRİŞ FORMU</h3>
        <br/>
        <img src="~/assets/img/erkel-elektrik.png" />
    </div>
    <div class="container" style="width:35vw;">
        <div id="loginCard" class="card">
            <div class="card-body">
                <div id="login-row" class="row">
                    <form id="login-form" class="form" action="/Account/Login" method="post">
                        @Html.AntiForgeryToken()
                        <h3 class="text-center text-white">Giriş</h3>
                        <div class="form-group">
                            <label for="Email" class="text-white">Email:</label>
                            <br>
                            <input type="text"
                                   name="Email"
                                   id="Email"
                                   class="form-control text-white"
                                   style="background-color: #214358;">
                        </div>
                        <div class="form-group">
                            <label for="Password" class="text-white">Şifre:</label>
                            <br>
                            <input type="password"
                                   name="Password"
                                   id="Password"
                                   class="form-control text-white"
                                   style="background-color: #214358;">
                        </div>
                        <div class="form-group">
                            <label for="RememberMe" class="text-white">
                                <span>Beni Hatırla</span>
                                <span>
                                    <input class="mt-1" id="RememberMe" name="RememberMe" type="checkbox">
                                </span>
                            </label>
                            <br>
                            <button style="background-color: mediumspringgreen;" type="submit" name="submit" class="btn btn-info btn-md mt-1" value="submit">Giriş</button>
                        </div>
                    </form>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
        </div>
    </div>
</div>

