@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="container-fluid mt-4">
    <div class="row align-items-center">

        <div class="col-md-6 text-black">
            <h1 class="display-4">Erkel ERP</h1>
            <p class="lead">Erkel ERP Sistemine Hoşgeldiniz</p>
        </div>

        <div class="col-md-6 text-end">
            <img src="~/assets/img/erkel-elektrik.png" class="img-fluid" style="max-height:150px;" />
        </div>

    </div>
</div>

@* 
<img src="~/assets/img/97a868178692411.64ecc5b4072d7.png"
         style="object-fit: fill; max-width: 100%; height: ;"
         alt="direk"
         /> *@